<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <img class="logo" src="../static/logo.png" alt="" width="196px" height="209px">
        <h2 class="site-name">Сайт про аниме и мангу</h2>
        <nav style="text-align: center;">
            <a class="nav-link" href="/ ">Главная</a>
            <a class="nav-link" href="/anime">Аниме</a>
            <a class="nav-link" href="#">Манга</a>
        </nav>
    </header>
    <main>
        <h1>Личный кабинет</h1>
        <h2>Привет, {{ username }}!</h2>
        <p>Здесь вы можете просмотреть список ваших избранных аниме.</p>
        <form name="logout" method="POST">
            <input class='logout-btn' name="logout" type="submit" value="Выйти">
        </form>
        <h2>Избранные аниме:</h2>

        <blockquote>{{ favourite_anime }}</blockquote>
        <form action="" name="deleteAnime" method="POST">
            <input type="text" name="title" placeholder="Введите аниме для удаления">
            <input class='delete-btn' name="delete" type="submit" value="Удалить из избранных">
        </form>
    </main>
</body>
</html>