<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Мои любимые аниме-тайтлы</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <header>
        <img class="logo" src="../static/logo.png" alt="" width="196px" height="209px">
        <h2 class="site-name">Сайт про аниме и мангу</h2>
        <nav style="text-align: center;">
            <a class="nav-link" href="/">Главная</a>
            <a class="nav-link" href="#">Аниме</a>
            <a class="nav-link" href="#">Манга</a>
        </nav>
    </header>
    
    <main>
        <h2 class="heading">Мои любимые аниме-тайтлы: список и описание</h2>
	    <section class="anime-card">
            <div class="left">
                <h2 class="anime-name" style="font-size: 1.5em;">Кровь Триединства</h2>
                <p class="anime-description">
                Нуарная и красивая история о противостоянии вампирских кланов
                </p>
            </div>
		    <a class="anime-link" href="https://animego.org/anime/krov-triedinstva-1917" target="_blank"><img src="../static/krov.jpg" width="500px"></a>
	    </section>

        {% for anime_title in anime_titles %}
        <section class="anime-card">
            <div class="left">
                <h2 class="anime-name" style="font-size: 1.5em;">{{anime_title.title}}</h2>
                <p class="anime-description">{{anime_title.description}}</p>
            </div>
		    <a class="anime-link" href={{anime_title.link}} target="_blank"><img src={{anime_title.image_link}} width="500px"></a>
	    </section>
        {% endfor %}

    </main> 
</body>
</html>
