<!DOCTYPE html>
<html lang="en-ru">
<!-- Параметры страницы -->
<head>
    <meta charset="UTF-8">
    <title>Моя первая страница</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<!-- Контент веб-страницы -->
<body>
    <!-- header - это шапка сайта        -->
    <header>
        <img class="logo" src="../static/logo.png" alt="" width="196px" height="209px">
        <h2 class="site-name">Сайт про аниме и мангу</h2>
        <nav style="text-align: center;">
            <a class="nav-link" href="#">Главная</a>
            <a class="nav-link" href="anime">Аниме</a>
            <a class="nav-link" href="#">Манга</a>
        </nav>
    </header>
    <h1>Добро пожаловать, {{ name }}</h1>
    <main>
        <form class="login-form" action="" method="POST">
            <h1 class="login-form-heading">Вход</h1>
            <input type="text" name="username" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <input type="submit" value="Войти">
        </form>
        <a href="register">Регистрация</a>

        
    </main>
    <!-- <script type="module" src="mainpage.js"></script> -->
</body>
</html>
